body{
  text-align: center;
  font-family: 'Arial';
  font-display: swap;
  background-color:black ;
  color: white;
}
img {
  width: 200px;
}
a{ text-align: center;
   font-family:'Arial';
   font-display: swap;
}